//Widescreens
@include mediaXl


//Desktop & Laptops
@include mediaLg 


//Tablets & Small Laptops
@include mediaMd   
  main
    align-items: center
    text-align: center

    .lg-heading
      line-height: 1
      margin-bottom: 1rem

  ul.menu-nav
    float: none
    width: 100%
    min-height: 0

    &.show
      transform: translate3d(0,0,0)

  .nemu-nav
    height: 100vh
    transform: translate3d(-100%,0,0)

  .menu-branding
    height: 0vh

  .about-info   
    grid-template-areas: 'bioimage' 'bio' 'project-1' 'project-2' 'project-3' 

    grid-template-columns: 1fr 


//Smartphones
@include mediaSm
  main#home h1
    margin-top: 10vh

